<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A_V.liga</key>
    <dict>
      <key>public.kern2.E</key>
      <integer>-60</integer>
    </dict>
    <key>B</key>
    <dict>
      <key>O</key>
      <integer>30</integer>
      <key>S</key>
      <integer>20</integer>
    </dict>
    <key>C</key>
    <dict>
      <key>H_E.liga</key>
      <integer>-20</integer>
      <key>O</key>
      <integer>-30</integer>
      <key>O_O.liga</key>
      <integer>-30</integer>
      <key>R</key>
      <integer>-20</integer>
      <key>U_P.liga</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.E</key>
      <integer>-40</integer>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-40</integer>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <key>O_N.liga</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>D</key>
    <dict>
      <key>R</key>
      <integer>30</integer>
    </dict>
    <key>D_O.liga</key>
    <dict>
      <key>R</key>
      <integer>40</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>F</key>
      <integer>-70</integer>
    </dict>
    <key>F_F.liga</key>
    <dict>
      <key>O</key>
      <integer>10</integer>
    </dict>
    <key>H</key>
    <dict>
      <key>O</key>
      <integer>20</integer>
    </dict>
    <key>I</key>
    <dict>
      <key>C</key>
      <integer>0</integer>
      <key>F</key>
      <integer>0</integer>
      <key>public.kern2.V</key>
      <integer>30</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>30</integer>
    </dict>
    <key>L_U.liga</key>
    <dict>
      <key>R</key>
      <integer>-20</integer>
    </dict>
    <key>N_E</key>
    <dict>
      <key>T</key>
      <integer>20</integer>
    </dict>
    <key>N_T.liga</key>
    <dict>
      <key>R</key>
      <integer>10</integer>
      <key>public.kern2.uppercase</key>
      <integer>-50</integer>
    </dict>
    <key>O</key>
    <dict>
      <key>B</key>
      <integer>-40</integer>
      <key>N_E</key>
      <integer>10</integer>
      <key>P</key>
      <integer>-20</integer>
      <key>public.kern2.uppercase</key>
      <integer>0</integer>
    </dict>
    <key>O_O.liga</key>
    <dict>
      <key>P</key>
      <integer>-10</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.E</key>
      <integer>-2</integer>
    </dict>
    <key>R</key>
    <dict>
      <key>S</key>
      <integer>10</integer>
      <key>V_A.liga</key>
      <integer>20</integer>
      <key>public.kern2.E</key>
      <integer>30</integer>
      <key>public.kern2.uppercase</key>
      <integer>40</integer>
    </dict>
    <key>R_S_E</key>
    <dict>
      <key>S</key>
      <integer>50</integer>
    </dict>
    <key>S</key>
    <dict>
      <key>T</key>
      <integer>10</integer>
      <key>Y</key>
      <integer>30</integer>
      <key>public.kern2.E</key>
      <integer>10</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>Egrave</key>
      <integer>-30</integer>
      <key>O</key>
      <integer>-40</integer>
      <key>R</key>
      <integer>0</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.E</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>120</integer>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-120</integer>
      <key>public.kern2.uppercase</key>
      <integer>-30</integer>
    </dict>
    <key>U</key>
    <dict>
      <key>R</key>
      <integer>30</integer>
      <key>R_S_E</key>
      <integer>40</integer>
      <key>W</key>
      <integer>60</integer>
      <key>public.kern2.V</key>
      <integer>60</integer>
    </dict>
    <key>U_P.liga</key>
    <dict>
      <key>P</key>
      <integer>-20</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.E</key>
      <integer>-30</integer>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-60</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-100</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>Z</key>
    <dict>
      <key>O</key>
      <integer>-30</integer>
      <key>O_O.liga</key>
      <integer>-50</integer>
    </dict>
    <key>a</key>
    <dict>
      <key>public.kern2.lowercase_consonant</key>
      <integer>0</integer>
    </dict>
    <key>c_r</key>
    <dict>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-30</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>public.kern2.lowercase_consonant</key>
      <integer>0</integer>
      <key>z</key>
      <integer>-40</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <integer>20</integer>
      <key>six</key>
      <integer>40</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>seven</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>R</key>
      <integer>10</integer>
      <key>T</key>
      <integer>-70</integer>
      <key>T_T.liga</key>
      <integer>-60</integer>
      <key>public.kern2.uppercase</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>C</key>
      <integer>40</integer>
      <key>F_F.liga</key>
      <integer>0</integer>
      <key>R</key>
      <integer>31</integer>
      <key>l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.uppercase</key>
    <dict>
      <key>N_E</key>
      <integer>-20</integer>
      <key>O</key>
      <integer>30</integer>
      <key>T</key>
      <integer>60</integer>
      <key>public.kern2.lowercase_vowel</key>
      <integer>-40</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>three</key>
      <integer>50</integer>
    </dict>
    <key>v</key>
    <dict>
      <key>public.kern2.lowercase_vowel</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
