<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A_D.liga</key>
    <string>A__D_.liga.glif</string>
    <key>A_E</key>
    <string>A__E_.glif</string>
    <key>A_E.liga</key>
    <string>A__E_.liga.glif</string>
    <key>A_F.liga</key>
    <string>A__F_.liga.glif</string>
    <key>A_O</key>
    <string>A__O_.glif</string>
    <key>A_U_L_A</key>
    <string>A__U__L__A_.glif</string>
    <key>A_V.liga</key>
    <string>A__V_.liga.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_H</key>
    <string>C__H_.glif</string>
    <key>C_Q</key>
    <string>C__Q_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D_E</key>
    <string>D__E_.glif</string>
    <key>D_O.liga</key>
    <string>D__O_.liga.glif</string>
    <key>D_U_D_E_L_A</key>
    <string>D__U__D__E__L__A_.glif</string>
    <key>D_e_s.liga</key>
    <string>D__e_s.liga.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E_A_U</key>
    <string>E__A__U_.glif</string>
    <key>E_E.liga</key>
    <string>E__E_.liga.glif</string>
    <key>E_Eacute.001</key>
    <string>E__E_acute.001.glif</string>
    <key>E_Egrave.001</key>
    <string>E__E_grave.001.glif</string>
    <key>E_S_S_E</key>
    <string>E__S__S__E_.glif</string>
    <key>E_T_T_E</key>
    <string>E__T__T__E_.glif</string>
    <key>E_U</key>
    <string>E__U_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Eacute_E</key>
    <string>E_acute_E_.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Ecircumflex_T_E</key>
    <string>E_circumflex_T__E_.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Egrave_R_E</key>
    <string>E_grave_R__E_.glif</string>
    <key>Egrave_T_E</key>
    <string>E_grave_T__E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F_F.liga</key>
    <string>F__F_.liga.glif</string>
    <key>F_F_E</key>
    <string>F__F__E_.glif</string>
    <key>F_H.dlig</key>
    <string>F__H_.dlig.glif</string>
    <key>F_V_E</key>
    <string>F__V__E_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_U_E</key>
    <string>G__U__E_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_E.liga</key>
    <string>H__E_.liga.glif</string>
    <key>H_Eacute.liga</key>
    <string>H__E_acute.liga.glif</string>
    <key>H_Egrave.liga</key>
    <string>H__E_grave.liga.glif</string>
    <key>H_O_F_E</key>
    <string>H__O__F__E_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I_E</key>
    <string>I__E_.glif</string>
    <key>I_E_L</key>
    <string>I__E__L_.glif</string>
    <key>I_e_l</key>
    <string>I__e_l.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L_A.liga</key>
    <string>L__A_.liga.glif</string>
    <key>L_E</key>
    <string>L__E_.glif</string>
    <key>L_E.liga</key>
    <string>L__E_.liga.glif</string>
    <key>L_I.liga</key>
    <string>L__I_.liga.glif</string>
    <key>L_L.liga</key>
    <string>L__L_.liga.glif</string>
    <key>L_L_E</key>
    <string>L__L__E_.glif</string>
    <key>L_O.liga</key>
    <string>L__O_.liga.glif</string>
    <key>L_U.liga</key>
    <string>L__U_.liga.glif</string>
    <key>L_U_I</key>
    <string>L__U__I_.glif</string>
    <key>L_Y.liga</key>
    <string>L__Y_.liga.glif</string>
    <key>L_e_s.liga</key>
    <string>L__e_s.liga.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M_E.liga</key>
    <string>M__E_.liga.glif</string>
    <key>M_P</key>
    <string>M__P_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N_D.liga</key>
    <string>N__D_.liga.glif</string>
    <key>N_E</key>
    <string>N__E_.glif</string>
    <key>N_N_E</key>
    <string>N__N__E_.glif</string>
    <key>N_R.liga</key>
    <string>N__R_.liga.glif</string>
    <key>N_T.liga</key>
    <string>N__T_.liga.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>O_A.dlig</key>
    <string>O__A_.dlig.glif</string>
    <key>O_C.liga</key>
    <string>O__C_.liga.glif</string>
    <key>O_E.dlig</key>
    <string>O__E_.dlig.glif</string>
    <key>O_E.liga</key>
    <string>O__E_.liga.glif</string>
    <key>O_G.liga</key>
    <string>O__G_.liga.glif</string>
    <key>O_Idieresis</key>
    <string>O__I_dieresis.glif</string>
    <key>O_N.liga</key>
    <string>O__N_.liga.glif</string>
    <key>O_O.liga</key>
    <string>O__O_.liga.glif</string>
    <key>O_R.dlig</key>
    <string>O__R_.dlig.glif</string>
    <key>O_T_E</key>
    <string>O__T__E_.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P_E</key>
    <string>P__E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q_L.dlig</key>
    <string>Q__L_.dlig.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R_E</key>
    <string>R__E_.glif</string>
    <key>R_I_C_E</key>
    <string>R__I__C__E_.glif</string>
    <key>R_S_E</key>
    <string>R__S__E_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S_C_E</key>
    <string>S__C__E_.glif</string>
    <key>S_E</key>
    <string>S__E_.glif</string>
    <key>S_L_L_E</key>
    <string>S__L__L__E_.glif</string>
    <key>S_S_E</key>
    <string>S__S__E_.glif</string>
    <key>S_T_E_S</key>
    <string>S__T__E__S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_E</key>
    <string>T__E_.glif</string>
    <key>T_R.liga</key>
    <string>T__R_.liga.glif</string>
    <key>T_T.liga</key>
    <string>T__T_.liga.glif</string>
    <key>T_T_E</key>
    <string>T__T__E_.glif</string>
    <key>T_h.liga</key>
    <string>T__h.liga.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U_B.liga</key>
    <string>U__B_.liga.glif</string>
    <key>U_D.liga</key>
    <string>U__D_.liga.glif</string>
    <key>U_E</key>
    <string>U__E_.glif</string>
    <key>U_L_L_E</key>
    <string>U__L__L__E_.glif</string>
    <key>U_P.liga</key>
    <string>U__P_.liga.glif</string>
    <key>U_n_e.liga</key>
    <string>U__n_e.liga.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V_A.liga</key>
    <string>V__A_.liga.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W_A.liga</key>
    <string>W__A_.liga.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X_C_E</key>
    <string>X__C__E_.glif</string>
    <key>X_L_E_S</key>
    <string>X__L__E__S_.glif</string>
    <key>X_L_L_E_S</key>
    <string>X__L__L__E__S_.glif</string>
    <key>X_S_E</key>
    <string>X__S__E_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a_e</key>
    <string>a_e.glif</string>
    <key>a_o_n</key>
    <string>a_o_n.glif</string>
    <key>a_s</key>
    <string>a_s.glif</string>
    <key>a_u_l_a</key>
    <string>a_u_l_a.glif</string>
    <key>a_u_l_a.alt02</key>
    <string>a_u_l_a.alt02.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_h_e</key>
    <string>c_h_e.glif</string>
    <key>c_h_e_s</key>
    <string>c_h_e_s.glif</string>
    <key>c_q_u_e</key>
    <string>c_q_u_e.glif</string>
    <key>c_q_u_e_s</key>
    <string>c_q_u_e_s.glif</string>
    <key>c_r</key>
    <string>c_r.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cee-quent.liga</key>
    <string>cee-quent.liga.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_e</key>
    <string>d_e.glif</string>
    <key>d_e_s</key>
    <string>d_e_s.glif</string>
    <key>d_u_d_e_l_a</key>
    <string>d_u_d_e_l_a.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_a_u</key>
    <string>e_a_u.glif</string>
    <key>e_e</key>
    <string>e_e.glif</string>
    <key>e_h</key>
    <string>e_h.glif</string>
    <key>e_s</key>
    <string>e_s.glif</string>
    <key>e_s.ss01</key>
    <string>e_s.ss01.glif</string>
    <key>e_s_s_e</key>
    <string>e_s_s_e.glif</string>
    <key>e_t</key>
    <string>e_t.glif</string>
    <key>e_t_t_e</key>
    <string>e_t_t_e.glif</string>
    <key>e_u</key>
    <string>e_u.glif</string>
    <key>e_u_r_i_c_e</key>
    <string>e_u_r_i_c_e.glif</string>
    <key>e_u_r_i_c_e_s</key>
    <string>e_u_r_i_c_e_s.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>eacute_e</key>
    <string>eacute_e.glif</string>
    <key>eacute_e.ss01</key>
    <string>eacute_e.ss01.glif</string>
    <key>eacute_e.ss02</key>
    <string>eacute_e.ss02.glif</string>
    <key>eacute_e_s</key>
    <string>eacute_e_s.glif</string>
    <key>eacute_e_s.ss01</key>
    <string>eacute_e_s.ss01.glif</string>
    <key>eacute_s</key>
    <string>eacute_s.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflex_t_e</key>
    <string>ecircumflex_t_e.glif</string>
    <key>ecircumflex_t_e_s</key>
    <string>ecircumflex_t_e_s.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>empattement_droit_bas</key>
    <string>empattement_droit_bas.glif</string>
    <key>empattement_haut_gauche</key>
    <string>empattement_haut_gauche.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_e</key>
    <string>f_f_e.glif</string>
    <key>f_f_e_s</key>
    <string>f_f_e_s.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>f_h</key>
    <string>f_h.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_l</key>
    <string>f_l.glif</string>
    <key>f_r_s_o_e_u_r_e</key>
    <string>f_r_s_o_e_u_r_e.glif</string>
    <key>f_r_s_o_e_u_r_e_s</key>
    <string>f_r_s_o_e_u_r_e_s.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>f_v_e</key>
    <string>f_v_e.glif</string>
    <key>f_v_e_s</key>
    <string>f_v_e_s.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_g</key>
    <string>g_g.glif</string>
    <key>g_i</key>
    <string>g_i.glif</string>
    <key>g_u_e</key>
    <string>g_u_e.glif</string>
    <key>g_u_e_s</key>
    <string>g_u_e_s.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h_o_f_e</key>
    <string>h_o_f_e.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i_e</key>
    <string>i_e.glif</string>
    <key>i_e_l</key>
    <string>i_e_l.glif</string>
    <key>i_e_l.ss01</key>
    <string>i_e_l.ss01.glif</string>
    <key>i_e_s</key>
    <string>i_e_s.glif</string>
    <key>i_p</key>
    <string>i_p.glif</string>
    <key>i_t</key>
    <string>i_t.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>inclusive_e</key>
    <string>inclusive_e.glif</string>
    <key>inclusive_e.001</key>
    <string>inclusive_e.001.glif</string>
    <key>inclusive_s</key>
    <string>inclusive_s.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_e</key>
    <string>l_e.glif</string>
    <key>l_l_e</key>
    <string>l_l_e.glif</string>
    <key>l_l_e_s</key>
    <string>l_l_e_s.glif</string>
    <key>l_u_i</key>
    <string>l_u_i.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m_p</key>
    <string>m_p.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_e</key>
    <string>n_e.glif</string>
    <key>n_e_s</key>
    <string>n_e_s.glif</string>
    <key>n_n_e</key>
    <string>n_n_e.glif</string>
    <key>n_n_e_s</key>
    <string>n_n_e_s.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_e</key>
    <string>o_e.glif</string>
    <key>o_e_i_n_e</key>
    <string>o_e_i_n_e.glif</string>
    <key>o_e_i_n_e_s</key>
    <string>o_e_i_n_e_s.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_idiresis</key>
    <string>o_idiresis.glif</string>
    <key>o_idiresis_n_e</key>
    <string>o_idiresis_n_e.glif</string>
    <key>o_o</key>
    <string>o_o.glif</string>
    <key>o_t</key>
    <string>o_t.glif</string>
    <key>o_t_e</key>
    <string>o_t_e.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.osf</key>
    <string>one.osf.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_e</key>
    <string>p_e.glif</string>
    <key>p_m</key>
    <string>p_m.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_e</key>
    <string>r_e.glif</string>
    <key>r_e.ss01</key>
    <string>r_e.ss01.glif</string>
    <key>r_e_s</key>
    <string>r_e_s.glif</string>
    <key>r_egrave_r_e</key>
    <string>r_egrave_r_e.glif</string>
    <key>r_egrave_r_e_s</key>
    <string>r_egrave_r_e_s.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>r_s_e</key>
    <string>r_s_e.glif</string>
    <key>r_s_e_s</key>
    <string>r_s_e_s.glif</string>
    <key>r_v</key>
    <string>r_v.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_c_e</key>
    <string>s_c_e.glif</string>
    <key>s_e</key>
    <string>s_e.glif</string>
    <key>s_e.ss01</key>
    <string>s_e.ss01.glif</string>
    <key>s_e_s</key>
    <string>s_e_s.glif</string>
    <key>s_e_s.ss01</key>
    <string>s_e_s.ss01.glif</string>
    <key>s_eacute</key>
    <string>s_eacute.glif</string>
    <key>s_ecircumflex</key>
    <string>s_ecircumflex.glif</string>
    <key>s_egrave</key>
    <string>s_egrave.glif</string>
    <key>s_l_l_e</key>
    <string>s_l_l_e.glif</string>
    <key>s_p</key>
    <string>s_p.glif</string>
    <key>s_s_e</key>
    <string>s_s_e.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>s_t_e</key>
    <string>s_t_e.glif</string>
    <key>s_t_e_s</key>
    <string>s_t_e_s.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_e</key>
    <string>t_e.glif</string>
    <key>t_e_s</key>
    <string>t_e_s.glif</string>
    <key>t_t_e</key>
    <string>t_t_e.glif</string>
    <key>t_t_e.alt02</key>
    <string>t_t_e.alt02.glif</string>
    <key>t_t_e_s</key>
    <string>t_t_e_s.glif</string>
    <key>t_t_e_s.alt02</key>
    <string>t_t_e_s.alt02.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u_e</key>
    <string>u_e.glif</string>
    <key>u_e_s</key>
    <string>u_e_s.glif</string>
    <key>u_l_l_e</key>
    <string>u_l_l_e.glif</string>
    <key>u_l_l_e_s</key>
    <string>u_l_l_e_s.glif</string>
    <key>u_p</key>
    <string>u_p.glif</string>
    <key>u_r</key>
    <string>u_r.glif</string>
    <key>u_t</key>
    <string>u_t.glif</string>
    <key>u_t_e_s.dlig</key>
    <string>u_t_e_s.dlig.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whiteCircle</key>
    <string>whiteC_ircle.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_c_e</key>
    <string>x_c_e.glif</string>
    <key>x_c_e_s</key>
    <string>x_c_e_s.glif</string>
    <key>x_l_e</key>
    <string>x_l_e.glif</string>
    <key>x_l_l_e</key>
    <string>x_l_l_e.glif</string>
    <key>x_l_l_e_s</key>
    <string>x_l_l_e_s.glif</string>
    <key>x_s_e</key>
    <string>x_s_e.glif</string>
    <key>x_s_e_s</key>
    <string>x_s_e_s.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_t</key>
    <string>y_t.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
  </dict>
</plist>
